<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="/static/js/new-age.min.js"></script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Predicting Bad Patents</title>

	<!-- Bootstrap Core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<!-- Plugin CSS -->
	<link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
	<link rel="stylesheet" href="/static/vendor/device-mockups/device-mockups.min.css">
	<!-- Theme CSS -->
	<link href="/static/css/new-age.min.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<style>
.navbar {
	margin-bottom: 0px;
}
textarea {
	background-color: white;
	color: black;
}
.screen {
	background-color: black;
}

#prediction {
    padding: 20px;
	color: green;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
    font-size: 1.5em;
}
</style>

<body id="page-top">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">cal-patent-lab</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			<li class="active"><a href="#">Predict</a></li>
			<li><a href="#">Statistics</a></li>
			</ul>
			<form class="navbar-form navbar-left">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
				<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
				</ul>
			</li>
			</ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<header>
    <form id='myForm' method="POST" action="/upload/predict/">{% csrf_token %}
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<div class="header-content">
						<div class="header-content-inner">
							<h1>Predicting Bad Patents: <br>
								The Invalidators</h1>
								 <h2> Type in a brief description of your project to see the probability of invalidation.</h2>
								 
					 {% csrf_token %}
				<textarea id='patentText' name = "textfield" rows="10" cols="50" id = "text_entry"></textarea><br/>
							<button id="submitButton" type="submit" class="btn btn-outline btn-xl page-scroll">Predict!</button>
						</div>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="device-container">
						<div class="device-mockup iphone6_plus portrait white">
							<div class="device">
								<div class="screen">
									<!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
									<!--<img src="/static/img/demo-screen-1.jpg" class="img-responsive" alt="">-->
									<p id='prediction'></p>
								</div>
								<div class="button">
									<!-- You can hook the "home button" to some JavaScript events or just remove it -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </form>
	</header>

	 

	
	<script>
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	$(function(){
		var csrftoken = getCookie('csrftoken');

		$("#myForm").submit(function(e){
			var formURL = $(this).attr("action");
			console.log(formURL);
			var formData = new FormData(this);
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			$.ajax(
			{
				url : formURL,
				method: "POST",
				data : formData,
				processData: false,
				contentType: false,
				dataType: "json",
				success:function(data, textStatus, jqXHR) {
					console.log(textStatus);
					console.log(data);
					$('#prediction').html(data.response);
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(textStatus);
					$('#prediction').html(textStatus);
				}
			});
			e.preventDefault(); //STOP default action
		});
	});
	</script>
</body>

</html>
